<header>
    <nav>
        <a href="/" >Library Project</a>
        <ul>
            <li><a href="/authors">All authors</a></li>
            <li><a href="/authors/new">new author</a></li>
        </ul>
    </nav>
</header>